<p><%= @user['fullname'].titleize =%></p>
<p>You Successfull created product <%= @product['name'].titleize =%> on Buynsell.</p>

<p>Click <%=link_to "here ", @product %> to view <%= @product['name'].titleize =%></p>