
/*flash*/
*{
    margin:0px;
    padding:0px; 
}
h1 {
    font-family:sans-serif !important;
}
.sidebar {
    position:fixed;
    z-index:100;
}
.alert-error {
    position:relative;
    margin:auto;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }


.alert-alert {
    position:relative;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    position:relative;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    position:relative;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.caption {
    height: 150px;
    overflow: hidden;

    >h4 {
    white-space: nowrap;
    }
}



.thumbnail {
    padding: 0;
    border-radius:7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    .caption-full {
        padding: 9px;
    color: #333;
    }

    img{
    width:100%;
    }

    .images{
    height:250px;
    }

    .image{
    height:150px;
    }

    .product-image{
        width:80%;
    }
    
}

.thumbnail p{
        font: 400 17px/1.6 , serif;
}

footer {
    margin: 50px 0;
}

.caption-full{
    height:auto;
}
