// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 // new product page

 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

 #login-wraper {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: absolute;
    display: block;
    padding: 25px;
    width: 80%;
    height: auto;
    background:white;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



 