<header class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        
    

        <ul class="nav navbar-nav navbar-right" style="margin:auto;">
            <% if logged_in? %>
             <li><%= link_to 'Home',products_path %></li>
              <li><%= link_to 'User',my_products_index_path %></li>
              <li><%= link_to 'logout',logout_path, method: "delete" %></li>
            <% else %>
    	       <li><%= link_to 'login',login_path %></li>
            <% end %>
        </ul>
        
    <div class="input-group col-md-6 col-xs-4 col-sm-8 col-lg-9" style="padding:10px;">
       <input  placeholder="Search..." type="text" class="form-control">
       <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicons glyphicons-search"></span>
        </button>
       </span>
    </div>
    </div>
</header>