<script type="text/javascript">

function category(some)
{	
console.log(some);	
window.location.href="products?category_id="+some;
}	
$(window).resize(function() {

  if ($(this).width() < 800) {

    $('.affix').hide();

  } else {

    $('.affix').show();

    }

});
</script>
 <% if @flag %>
<div class="hidden-xs col-sm-3  col-lg-2 col-md-3 pull-left affix" style="height:100%;background-color:rgba(0,0,0,0.1); box-shadow:0px 0px 3px rgba(0.5);">
 <div class="btn-group-vertical btn-group-lg" style="width:100%;top:20%;">
  <%= link_to 'All Categories',products_path, :class=>'btn btn-primary',:style=>"margin-bottom:1rem;color: #fff !important;"%>
  <% @category.each do |category| %>
  <%= link_to "#{category.name}",products_path(:category_id=>"#{category.id}"), :class=>'btn btn-primary',:style=>"margin-bottom:1rem;color: #fff !important;"%>
  <% end %>

</div>
</div>
  <% end%>

<style>
 a:focus {
    color: #fff !important;
    background-color: transparent;
}
 a {
    color: #fff !important;
    background-color: transparent;
}

</style>