<div class="col-sm-2 pull-left affix" style="height:100%;background-color:rgba(0,0,0,0.1); box-shadow:0px 0px 3px rgba(0.5);">
 <div class="btn-group-vertical btn-group-lg" style="width:100%;top:20%;">
  <button type="button" class="btn btn-primary active" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
  <button type="button" class="btn" style="margin-bottom:10px">category</button>
</div>
</div>